.container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  /* justify-content: center; 가로 가운데 정렬 */
  align-items: center;
}

.inputContainer {
  margin: 10px;
}

.autoLoginContainer {
  display: flex;
  justify-content: left;
}
