.cardBox {
  text-align: center;
  width: 50vh;
  height: 50vh;

  max-width: 90vw;

  padding-top: 4vh;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.foodImg {
  width: 35vh;
  height: 35vh;

  max-width: 90vw;
  max-height: 90vw;

  border-radius: 100%;
  border: solid orange 1px;
  margin-bottom: 2vh;
}

h1 {
  margin: 0;
  font-size: 4vh;
}
