.circleLarge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7vmax;
  height: 7vmax;
  border: #e7e7e7 0.5rem solid;
  border-radius: 100%;
  text-align: center;

  padding: 1.5vmax;
}

.circleTall {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 4vmax;
  height: 4vmax;
  border: #e7e7e7 0.5rem solid;
  border-radius: 100%;
  /* line-height: 4.2vmax; */

  padding: 1vmax;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 0 10vw;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 15vh;
}
